@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: StorytelEuclid;
    src: url("../assets/fonts/StorytelEuclid-Regular-Cyrillic.woff2")
      format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: StorytelEuclid;
    src: url("../assets/fonts/StorytelEuclid-Medium-Cyrillic.woff2")
      format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: StorytelEuclid;
    src: url("../assets/fonts/StorytelEuclid-Semibold-Cyrillic.woff2")
      format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply border border-silver rounded-5px text-sm placeholder-dove-gray text-black py-3 px-5 lg:py-4 is-invalid:border-red-orange outline-none focus:outline-none focus:ring-2 focus:ring-orange focus:border-orange;
  }

  [type="checkbox"] {
    @apply border-2 border-silver text-orange outline-none rounded-sm focus:outline-none focus:ring-2 focus:ring-orange;
  }

  [type="radio"] {
    @apply text-orange outline-none focus:outline-none focus:ring-2 focus:ring-orange;
  }
}
